.custom-header {
  font-weight: 500;
}

.custom-nav {
  background-color: #025feb;
}

.nav-logo {
  margin-left: 40px;
}

.nav-links {
  display: flex;
  justify-content: end;
  padding-right: 40px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
}
